.main-container {
  background-color: #f4f0db;
}

.carousel {
  width: 700px;
  height: 500px;
  margin-top: 15px;
}

.c-container {
  display: flex;
  justify-content: center;
}
.p-carousel {
  display: flex;
  text-align: center;
  font-family: "montserrat";
  font-weight: 300;
  justify-content: center;
  margin-top: 25px;
  word-wrap: break-word;
}
