.navbar {
  padding: 10px;
  background: #ffe47a;
  height: 13vh;
  box-shadow: 2px 2px 4px 2px #ffcc00;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
}

.nav-link {
  font-size: 12px;
  margin-right: 10px;
  color: #b4e0e0;
}